 :root {
   --light: hsla(225, 17, 32, 1);
   --medium: rgb(26, 30, 39);
   --dark: hsla(140, 16, 7, 1);
   --textNav: rgb(183, 191, 216);
   --border: rgb(175, 100, 50);
   --borderActive: rgb(238, 115, 34);
   --hover: rgb(94, 95, 144);
 }
.container{
  width: 360px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
}
 .square{
   width: 100px;
   height: 100px;
   background-color: rgb(85, 173, 76);
   margin:10px;
 }

 .winContainer{
   opacity: 0;
 }
 .winContainer.show{
   opacity: 1;
 }